<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/bg-illustrations-02.png">
	<img class="top-wave" src="img/bg-illustrations-03.png">
	<div class="container">
		<div class="img">
			<img src="img/bg-illustrations-04-04.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<div class="login-manual">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div> 
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
				<input type="submit" class="btn" value="Login">
				</div>
				<br>
				<span class="or"><hr>OR<hr></span>
				
				<div class="social">
					<a href="#"><i class="fa fa-google-plus-circle"  style="color:#333"></i></a>
					<a href="#" ><i class="fa fa-linkedin-square" style="color:#333"></i></a>
					<a href="#"><i class="fa fa-github"  style="color:#333"></i></a>
				</div>
			</form>
			
        </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>
